@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100..700&display=swap");

* {
  font-family: "Kantumruy Pro", sans-serif !important;
  font-weight: 500 !important;
  font-style: bold !important;
  color: #fff;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.app-container {
  display: flex; /* so content(page) can use flex 1 */
  flex-direction: column; /* navbar content footer will be in a column(like it should be) */
  box-sizing: border-box;
  height: 100vh; /* so it will use all height of the screen */
}
body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(119.64deg, #FFA6B7 16.93%, #6414AF 70.08%);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.content {
  box-sizing: border-box;
  display: flex; /* so home element(page) will be using all height by flex:1 in home page styles */
  min-height: 0;
  max-height: 100vh;
  flex: 1 1 0%; /* content will stick footer to the bottom by growing  */
}
