
.search-result-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.secondary-choice-song
{
  padding-right: 20%;
  color:rgb(235, 235, 68);
}
.primary-choice-song
{
  padding-right: 20%;
  color: rgb(6, 191, 6);
}

* 
{
  color: white;
}
.search-list
{
  box-sizing: border-box;
  margin-top: 0%;
  font-size: 0.8rem;
  box-sizing: border-box;
  overflow: scroll;
  width: 60%;
  height: 75%;
  min-height: 0;
}
.search-item
{
  box-sizing: border-box;
  height: 15%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  margin-bottom: 0.5%;
}
.search-item:hover
{
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-item-part
{
  position: relative;
  font-size: 1.3rem;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.song-checkbox
{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: white;
}
.button-container
{
  top: 75%;
  display: flex;
  position: sticky;
  width: 60%;
  justify-content: center;
  padding: 10px;
}
.create-playlist-button
{
  width: 65%;
  height: 50px;
  background-color: #FF70EA;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.create-playlist-button:hover
{
  
  background-color: #F92EAA;
}
.song-count
{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  background-color: #F92EAA;
}


* {
  box-sizing: border-box;
}

.inp {
  position: relative;
  margin: auto;
  width: 60%;
  
  border-radius: 3px;
  overflow: hidden;
}

.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgb(78, 0, 83);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

.inp input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 15px 0 0 12px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}

.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #F92EAA;
}

.inp input:focus + .label {
  color: #a3196e;
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}
.org-song-name
{
  font-size: 1rem;
  margin: 1px;
  color: rgb(78, 0, 83);
}